*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

font-family:Arial, sans-serif;

color:#333;

background:#ffffff;

}



header{

background:#0066b3;

color:white;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

}



.logo h1{

font-size:28px;

}



nav a{

color:white;

text-decoration:none;

margin-left:20px;

font-weight:bold;

}



nav a:hover{

color:#b8e8ff;

}





.titulo{

background:#f1f8fc;

text-align:center;

padding:50px;

}



.titulo h2{

font-size:38px;

color:#0066b3;

margin-bottom:15px;

}





.proceso{

padding:50px 8%;

text-align:center;

}



.proceso h2{

color:#0066b3;

font-size:32px;

}





.pasos{

display:flex;

justify-content:center;

gap:25px;

margin-top:30px;

}



.paso{

background:white;

padding:25px;

width:250px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



.paso h3{

font-size:35px;

color:#00a878;

}



.paso h4{

color:#0066b3;

margin:15px 0;

}





.formulario{

background:#f1f8fc;

padding:50px 15%;

}



.formulario h2{

text-align:center;

color:#0066b3;

margin-bottom:30px;

}



form{

display:flex;

flex-direction:column;

}



label{

margin-top:15px;

font-weight:bold;

}



input,
select,
textarea{

padding:12px;

margin-top:5px;

border:1px solid #ccc;

border-radius:8px;

}



textarea{

height:120px;

}



button{

margin-top:25px;

padding:15px;

background:#00a878;

color:white;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;

}



button:hover{

background:#007c59;

}





.requisitos{

padding:40px 10%;

}



.requisitos h2{

color:#0066b3;

margin-bottom:20px;

}



.requisitos li{

margin:12px;

}





footer{

background:#003b66;

color:white;

text-align:center;

padding:25px;

}




@media(max-width:900px){


header{

flex-direction:column;

}


.pasos{

flex-direction:column;

align-items:center;

}


}